.h2 {
    color: #15b012;
}

.AboutUsWrapper {
    padding-top: 30px;
}

.BioCards {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.BioCard {
    display: flex;
    flex-direction: column;
    background: #e6f0fa;
    border-radius: 12px;
    max-width: 400px;
    padding: 10px;
}

.Name {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #15b012;
    padding-left: 10px;
}
